footer.dobra_6 {
    background-color: #ebebeb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #e8e8e8;
}

footer.dobra_6 .btn-cadastro {
    border-radius: 12px;
    background-color: var(--orange);
    font-weight: 700;
    text-align: center;
    color: var(--branco);
    max-width: 100%;
}

footer.dobra_6 .btn-login {
    border-radius: 12px;
    background-color: #ebebeb;
    font-weight: 700;
    text-align: center;
    color: var(--orange);
    max-width: 100%;
    border: 1px solid var(--orange);
}

footer.dobra_6 .footer-end {
    background-color: #ebebeb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #e8e8e8;
}

/* @media screen and (max-width: 768px){
    .dobra_6 .footer-top{

    }
} */